{% extends 'Admin/layouts/master.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="mr-md-3 mr-xl-5">
                        <h2>Channel and Groups Page</h2>
                        <p class="mb-md-0">Your can change all of your data here.</p>
                    </div>
                    <div class="d-flex">
                        <i class="mdi mdi-home text-muted hover-cursor"></i>
                        <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p>
                        <p class="text-primary mb-0 hover-cursor">Analytics</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-end flex-wrap">
                    <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                        <i class="mdi mdi-download text-muted"></i>
                    </button>
                    <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                        <i class="mdi mdi-clock-outline text-muted"></i>
                    </button>
                    <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                        <i class="mdi mdi-plus text-muted"></i>
                    </button>
                    <button class="btn btn-primary mt-2 mt-xl-0">Download report</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add a new data</h4>
                    <p class="card-description">
                        Use the <code>@username</code> to add a new channel or group
                    </p>
                    <form class="form-inline" method="post" action="/tracker/add-channel/">
                        {% csrf_token %}
                        <label class="sr-only" for="inlineFormInputName2">Name</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                               placeholder="Jane Doe" disabled>

                        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input name="username" type="text" class="form-control"
                                   id="inlineFormInputGroupUsername2"
                                   placeholder="Username">
                        </div>
                        <div class="form-check mx-sm-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Checked
                                <i class="input-helper"></i></label>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Striped Table</h4>
                    <p class="card-description">
                        Add class <code>.table-striped</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Profile Image
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Progress
                                </th>
                                <th>
                                    Users Amount
                                </th>
                                <th>
                                    Last update
                                </th>
                                <th>
                                    Checked
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for channel in channels %}
                                <tr>
                                    <td class="py-1">
                                        <img src="../../images/faces/face1.jpg" alt="image">
                                    </td>
                                    <td>
                                        <a href="http://t.me/{{ channel.username }}">@{{ channel.username }}</a>
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                 style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>
                                        $ 77.99
                                    </td>
                                    <td>
                                        {{ channel.updated_at }}
                                    </td>
                                    <td>
                                        <div class="form-check form-check-flat form-check-primary">
                                            <label class="form-check-label">
                                                {% if channel.is_synced %}
                                                    <input type="checkbox" class="form-check-input" checked>
                                                {% else %}
                                                    <input type="checkbox" class="form-check-input">
                                                {% endif %}
                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}